@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@theme {
  --color-primary: #00ADAE;
  --color-primaryDark:  #004145;
  --color-dark: #002c30;
  --font-logo: "Marck Script";
}

@layer base {
  .default-padding {
    @apply max-w-[1440px] mx-auto px-4 sm:px-8 md:px-12 lg:px-14 py-3 sm:py-4 md:py-5 lg:py-6;
  }

  .input-field-style {
    @apply border rounded border-gray-200 dark:border-gray-200/40 outline-none focus:border-primary w-full px-3 py-1.5;
  }

  .button-primary {
    @apply bg-primary hover:bg-primaryDark duration-200 px-3 py-1.5 text-white rounded cursor-pointer text-sm md:text-base;
  }
} 


html {
  font-family: "Urbanist", sans-serif;
}


main {
  min-height: calc(100vh);
}

*::selection {
  background-color: var(--color-primary);
  color: white;
}



#mobile-nav a.active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}

#desktop-nav a {
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  font-size: 14px;
}

#desktop-nav a.active {
  border-bottom: 2px solid var(--color-primary);
  border-color: var(--color-primary);
}

#desktop-nav a:hover {
  border-bottom: 2px solid var(--color-primary);
  border-color: var(--color-primary);
}

.password-dot {
  -webkit-text-security: disc; 
  font-size: 1.25rem;
  font-family: 'Arial Black', sans-serif; 
}

.password-dot::placeholder {
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
}

footer a:hover {
  font-weight: 600;
  transition: all 0.3s;
}